<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:replace="~{pageName :: pageName}"></div>
	<div th:replace="~{menu :: button}"></div>
	<div th:each="comment, stat:${comment}" th:if="${comment != null}">
		<h3>
			投稿者:
			<span th:text="${comment.userName}">
			</span>
			投稿日時:
			<span th:text="${#temporals.format(comment.updateDateTime, 'yyyy-MM-dd HH:mm:ss')}">
			</span>
			<br>
			<span th:text="${comment.comment}"></span>
		</h3>
	<br>
	<table>
		<td>
			<form method="post">
				<input type="hidden" name="token" th:value="${token}">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<input type="hidden" name="taskId" th:value="${task.taskId}">
				<button type="submit" th:formaction="@{/task/commentDelete/{commentId}(commentId=${comment.commentId})}">削除</button>
			</form>
		</td>
		<td>
			<form method="get">
				<button type="submit" th:formaction="@{/task/detail/{taskId}(taskId=${task.taskId})}">詳細へ戻る</button>
			</form>
		</td>
	</table>
</body>
</html>