<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>タスク一覧</h1>
	<div th:replace="~{menu :: button}"></div>
	<table border=1>
		<th>タスク名</th>
		<th>カテゴリ</th>
		<th>期限</th>
		<th>担当者情報</th>
		<th>ステータス情報</th>
		<th>メモ</th>
		<tr th:each="task:${taskPage.content}">
			<td><a th:href="@{/task/detail/{taskId}(taskId=${task.taskId})}" th:text="${task.taskName}"></a>
			</td>
			<td th:text="${task.categoryName}">
			</td>
			<td th:text="${task.limitDate}">
			</td>
			<td th:text="${task.userName}">
			</td>
			<td th:text="${task.statusName}">
			</td>
			<td th:text="${task.memo}">
			</td>
		</tr>
	</table>
	<br>
	<div>
	<a th:if="${taskPage.hasPrevious()}"
		th:href="@{/task/list(page=${taskPage.number - 1})}">
		前へ
	</a>

	<span th:text="${taskPage.number + 1}"></span>
	/
	<span th:text="${taskPage.totalPages}"></span>

	<a th:if="${taskPage.hasNext()}"
		th:href="@{/task/list(page=${taskPage.number + 1})}">
		次へ
	</a>
	</div>
	<div th:replace="~{menuButton :: menuButton}"></div>
</body>
</html>